.chat-container {
  position: relative;
  flex: 1 1;
  margin-left: -4px;
  display: flex;
  flex-direction: column;
  min-width: 0;
}
/* Chat Header */
.chat__header {
  display: flex;
  justify-content: space-between;
  line-height: 1.33334;
  --saf-0: rgba(var(--sk_foreground_low, 29, 28, 29), 0.13);
  box-shadow: 0 1px 0 0 var(--saf-0);
  user-select: none;
}

.chat__header__left {
  display: flex;
}

.chat__header__left__button {
  display: flex;
  align-items: center;
}

.chat__header__left__button span:hover {
  background-color: rgb(211, 209, 209);
  border-radius: 5px;
}

.chat__header__left span {
  display: flex;
  align-items: baseline;
  font-size: 18px;

  font-weight: 900;
  margin: 10px;
}

.chat__header__avatar {
  height: 24px;
  width: 24px;
  position: relative;
  margin-left: 20px;
}

.chat__header__avatar {
  background-size: cover;
  background-position: 50%;
  position: relative;
  border-radius: 5px;
}

.chat__header__avatar .status {
  font-size: 13px !important;
  color: rgb(179, 177, 177);
  position: absolute;
  bottom: -5px;
  right: -5px;
  z-index: 200;
}

.chat__header__avatar .status.active {
  color: rgb(1, 163, 1);
}

.chat__header__right span {
  display: flex;

  margin: 10px;
}

.chat__header__right span:hover {
  background-color: rgb(211, 209, 209);
  border-radius: 5px;
}

/* Chat FOOTER */

.chat-footer {
  position: relative;
  bottom: 0px;
  margin-bottom: 10px;
}

.chat-input-container {
  top: 0px;
  border-radius: 20px;
  width: calc(100%);
  position: relative;
  margin-bottom: 10px;
  height: 80px !important;
}
.chat-input-container > form {
  position: relative;
  top: 0px;
  display: flex;
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
}
.chat-input-container > form > input {
  height: 100%;
  width: calc(100% - 20px);
  border: 1px solid gray;
  border-radius: 3px;
  padding: 10px;
  outline: none;
  padding-left: 40px;
}

.chat-input-container > form .send-button {
  left: initial;
  top: initial;
  bottom: initial;
}
.space {
  width: 10px;
}

/* Chat body */

.message-container {
  display: flex;
  position: relative;
  align-items: center;
}

.message__avatar {
  height: 36px;
  width: 36px;
  border-radius: 8px;
  user-select: none !important;
  background-size: cover;
  background-position: 50%;
  position: relative;
  overflow: hidden;
  margin-top: 5px;
}

.message__info {
  padding-left: 10px;
  flex: 1 1;
  max-width: calc(100% - 36px);
}

.message__info .status > span {
  color: gray;
  font-weight: 400;
  font-size: 13px;
}

.message__info .status > a {
  color: black;
  font-weight: 900;
  font-size: 15px;
  text-decoration: none;
}
.message__info .status > a:hover {
  text-decoration: underline;
}
.message__info p.message {
  word-wrap: break-word;
  margin: 0;
}

.chat-messages {
  overflow-y: scroll;
  min-width: 0;
  flex: 1 1;
  max-width: 100%;
}

.message-container__inner {
  display: flex;
  align-items: flex-start;
  flex: 1 1;
  padding: 10px 20px;
  max-width: 100%;
}

.message-container__inner.active {
  background-color: rgba(248, 248, 248, 0.699);
}

/* RESIZER */
.resizer {
  width: 5px;
  background-color: transparent;
  z-index: 10;
  transition: all 0.3s ease;
}
.resizer:hover {
  cursor: col-resize;
  background-color: rgba(29, 155, 209, 1);
}

/* Modal profile */
.modal-backdrop {
}
.profile-card {
  --saf-0: rgba(var(--sk_foreground_low, 29, 28, 29), 0.13);
  box-shadow: 0 0 0 1px var(--saf-0), 0 4px 12px 0 rgba(0, 0, 0, 0.08);
  background: rgba(var(--sk_primary_background, 255, 255, 255), 1);
  border-radius: 8px;
  width: 300px;
  z-index: 1061;
}

.profile-card__header {
  border-bottom: 1px solid rgba(var(--sk_foreground_low, 29, 28, 29), 0.13);
  position: relative;
}
.profile-card__picture {
  background-size: cover;
  background-position: 50%;
  position: relative;
  overflow: hidden;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  height: 260px;
}

.profile-card__name {
  padding: 16px 16px 16px 16px;
  display: flex;
  align-items: center;
}

.profile-card__name__title {
  font-size: 22px;
  line-height: 1.36365;
  font-weight: 900;
  word-break: break-word;
}

.profile-card__name__title:hover {
  text-decoration: underline;
}

.profile-card__name__status .status {
  font-size: 15px !important;
  color: rgb(179, 177, 177);
}

.profile-card__name__status.online .status {
  color: rgb(1, 163, 1);
}

.profile-card__link {
  display: block;
  margin: -16px 16px 16px;
  color: rgba(18, 100, 163, 1);
}
.profile-card__link:hover {
  text-decoration: underline;
}

.profile-card__time-field {
  position: relative;
  display: flex;
  padding: 8px 16px;
  flex-direction: column;
}

.profile-card__time-field__label {
  font-size: 13px;
  line-height: 1.38463;
  color: rgba(var(--sk_foreground_max, 29, 28, 29), 0.7);
  font-weight: 700;
}

.profile-card:last-child {
  padding-bottom: 16px;
}

.profile-card__buttons {
  margin: 4px 16px 0;
  display: flex;
}

.c-button {
  font-size: 15px;
  height: 36px;
  min-width: 80px;
  padding: 0 12px 1px;
  background: rgba(var(--sk_primary_background, 255, 255, 255), 1);
  flex-grow: 1;
  margin-right: 20px;
}

.c-button:hover {
  background: rgba(200, 200, 200, 0.7);
}

/* Day block message */

.day-block-messages__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.day-block-messages__divider {
  height: 9px;
  font-size: 14px;
  font-weight: 700;
  color: rgba(var(--sk_primary_foreground, 29, 28, 29), 1);
  cursor: default;
  display: block;
  top: 14px;
  position: relative;
  text-align: center;
  user-select: none;
  padding: 15px 0px;
  margin-bottom: 15px;
}

.day-block-messages__label {
  display: inline-block;
  font-size: 13px;
  height: 28px;
  line-height: 27px;
  padding: 0 16px;
  z-index: 2;
  --saf-0: rgba(var(--sk_foreground_low, 29, 28, 29), 0.13);
  box-shadow: 0 0 0 1px var(--saf-0), 0 1px 3px 0 rgba(0, 0, 0, 0.08);
  background: rgba(var(--sk_primary_background, 255, 255, 255), 1);
  border-radius: 24px;
  position: relative;
  transform: translateY(-14px);
}

.day-block-messages__divider-line {
  left: 0;
  right: 0;
  border-top: 1px solid rgba(var(--sk_foreground_low_solid, 221, 221, 221), 1);
  border-bottom: 0;
  margin: 0 0 -1px 0;
  top: -1px;
  position: relative;
}
/* Chat-input previewer */
.chat__input-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 10px;
  background-color: rgba(29, 28, 29, 0.04);
}

/* emoji handler */
.emoji-trigger-button {
  position: absolute;
  justify-content: center;
  display: flex;
  align-items: center;
  height: 34px;
  width: 34px;
  left: 16px;
}

.emojis-container {
  outline: none;
  position: absolute;
  left: 0;
  top: -400px;
  z-index: 10;
}
.emoji-mart {
  box-shadow: rgba(29, 28, 29, 0.13) 0px 0px 0px 1px,
    rgba(0, 0, 0, 0.08) 0px 4px 12px 0px;
}

.emoji-trigger-button:hover {
  color: rgba(33, 37, 41, 0.548);
}
/* Message actions */

.c-message__action {
  position: absolute;
  top: -16px;
  right: 17px;
}

.c-message__action__group {
  margin-left: 8px;
  line-height: 1;
  box-shadow: rgba(29, 28, 29, 0.13) 0px 0px 0px 1px,
    rgba(0, 0, 0, 0.08) 0px 1px 3px 0px;
  border: unset;
  border-radius: 0.375em;
  display: flex;
  padding: 2px;
  background-color: white !important;
}

.message-action__button {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 3px 7px;
  font-weight: 200 !important;
}

.message-action__button:hover {
  background: rgba(29, 28, 29, 0.13) !important;
}

/* Reaction bar */

.message__reaction-bar {
  margin-bottom: 4px;
}

.c-reaction {
  margin-top: 4px;
  margin-bottom: 4px;
  margin-right: 4px;
  font-size: 11px;
  line-height: 16px;
  padding: 4px 6px;
  display: inline-flex;
  align-items: center;
  vertical-align: top;
  border: none;
  border-radius: 12px;
  background-color: rgba(29, 28, 29, 0.04)!important;
  user-select: none;
}

.c-reaction:hover {
  box-shadow: rgb(29, 30, 29) 0px 0px 0px 1px inset;
}

.c-reaction.active {
  box-shadow: rgb(29, 155, 209) 0px 0px 0px 1px inset;
  background-color: rgba(29, 155, 209, 0.1)!important;
}

.c-reaction:active {
  transform: scale(0.8);
}

.c-reaction__emoji {
  margin-right: 2px;
  width: 16px;
  height: 16px;
}
.c-reaction__count{
  font-weight: 700;
}
.c-reaction.active .c-reaction__count {
  color: rgba(var(--sk_highlight, 18, 100, 163), 1);

}
.c-reaction__count {
  color: rgb(29, 30, 29);
}
